/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Quicksand')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = #fa5b4d
background-color = #e2d7c4

body
  font-family 'Georgia'
  background-image url('../images/bodybg.png')

  
select 
  padding 10px
  margin 0
  -webkit-border-radius 3px
  -moz-border-radius 3px
  border-radius 3px
  -o-box-shadow 0 1px 1px #a2988a
  -webkit-box-shadow  0 1px 1px #a2988a
  -moz-box-shadow 0 1px 1px #a2988a
  box-shadow 0 1px 1px #a2988a
  background  #f8f8f8
  font-size 14px
  color #868e96
  font-style italic
  border 1px solid #d4d4d4
  outline none
  display inline-block
  appearance none
  -webkit-appearance none
  -moz-appearance none
  cursor pointer
  background-image: url('../images/combobg.png')

input 
  padding 12px 
  -webkit-border-radius 3px
  -moz-border-radius 3px
  border-radius 3px
  font-size 14px
  color #868e96
  border 1px solid #d4d4d4

#header 
  width 100%
  height 50px
  -o-box-shadow 0 .45px 1px #383838
  -webkit-box-shadow  0 .45px 1px #383838
  -moz-box-shadow 0 .45px 1px #383838
  box-shadow 0 .45px 1px #383838
  border-bottom 1px solid #d47613
  background  linear-gradient(top, #ffb727, #ff8f1d)
  background  -webkit-linear-gradient(top, #ffb727, #ff8f1d)
  background  -o-linear-gradient(top, #ffb727, #ff8f1d)
  background  -ms-linear-gradient(top, #ffb727, #ff8f1d)
  background  -moz-linear-gradient(top, #ffb727, #ff8f1d)  
  z-index 5000
  position fixed

  .logo
    width 930px
    padding 15px 0 0 0
    color white
    font-weight bold
    font-size 20px
    text-align center
    text-shadow  1px 1px 1px #716f6d

  .logo-center-small
    width 520px
    padding 15px 0 0 0
    color white
    font-weight bold
    font-size 20px
    text-align center
    text-shadow  1px 1px 1px #716f6d


.center 
  width 930px
  position absolute
  left 15%
  right 15%
  top 0
  bottom 0

.center-small
  width 520px
  position absolute
  left 30%
  right 30%
  top 0
  bottom 0

.combo-box-label
  position relative

.combo-box-label:after
    content '<>' 
    font-weight bold
    width 20px
    font-size 15px 
    color #ffa828
    -webkit-transform rotate(90deg)
    -moz-transform rotate(90deg)
    -ms-transform rotate(90deg)
    transform rotate(90deg)
    right 8px  
    top -1px
    padding 0 0 4px  
    position absolute
    pointer-events none  
  
.combo-box-label:before
    content ''
    right 10px;
    top -1px
    width 20px 
    height 20px
    position absolute
    pointer-events none
    display inline-block

.recipe-content-wrap-big:hover
  cursor pointer
  opacity .9

.recipe-content-wrap-big
  width 220px
  height 270px
  border-top 1px solid #f6f5f5
  border-left 1px solid #d7cbb7
  border-right 1px solid #d7cbb7
  border-bottom 1px solid #a59c8d
  border-radius 3px 
  -o-border-radius 3px 
  -ms-border-radius 3px 
  -moz-border-radius 3px 
  -webkit-border-radius 3px
  background-image url('../images/wrapbg.png')
  display inline-block
  margin-right 10px
  margin-bottom 10px
  position relative

  img
    width 220px
    height 153px
    -o-border-top-left-radius 3px 
    -ms-border-top-left-radius 3px 
    -moz-border-top-left-radius 3px 
    -webkit-border-top-left-radius 3px
    -o-border-top-right-radius 3px 
    -ms-border-top-right-radius 3px 
    -moz-border-top-right-radius 3px 
    -webkit-border-top-right-radius 3px 
    border-bottom 1px solid #ffffff

  .vegeterian
    position absolute
    border 1px solid white
    -o-border-radius 3px 
    -ms-border-radius 3px 
    -moz-border-radius 3px 
    -webkit-border-radius 3px
    background url('../images/veget.png')
    z-index 800
    width 49px
    height 31px
    top 2px
    right 2px

  .desc
    width 220px
    height 49px
    padding 10px 

    .name
      width 180px
      height 23px
      font-size 20px
      color #44494b
      overflow hidden

    .location
      margin-top 3px
      width 180px
      height 23px
      font-size 13px
      color #868e96
      overflow hidden
      font-style italic

  .footer
    border-top 1px solid #e7e3dc
    width 210px
    height 22px
    padding 10px 0 10px 10px
    font-size 15px
    color #ffa828
    overflow hidden
    font-style italic
    background-image url('../images/combobg.png')

.recipe-details-wrap
  width 920px
  display inline-block
  vercital-align top
  
  .image 
    display inline-block
    margin-right 20px
    vertical-align top

    img 
      width 500px
      height 350px
      border-top 1px solid #f6f5f5
      border-left 1px solid #d7cbb7
      border-right 1px solid #d7cbb7
      border-bottom 1px solid #a59c8d
      border-radius 3px 
      -o-border-radius 3px 
      -ms-border-radius 3px 
      -moz-border-radius 3px 
      -webkit-border-radius 3px 

  .desc
    width 390px
    display inline-block
    vertical-align top

    .name
      width 380px
      font-size 40px
      color #44494b

    .info
      margin-top 3px
      width 380px 
      font-size 20px
      color #868e96
      font-style italic

.other-recipes
  width 220px
  display inline-block
  vertical-align top

.button  
  font-size 13px
  text-align center
  padding 12px 0 12px 0 
  border-radius 3px 
  -o-border-radius 3px 
  -ms-border-radius 3px 
  -moz-border-radius 3px 
  -webkit-border-radius 3px 
  cursor pointer
  -o-box-shadow: 0 1px 1px #a2988a
  -webkit-box-shadow  0 1px 1px #a2988a
  -moz-box-shadow  0 1px 1px #a2988a
  box-shadow  0 1px 1px #a2988a
  vertical-align top
  text-shadow  1px 1px 1px #716f6d

.orange
  color #fff 
  border 1px solid #d47613
  background  linear-gradient(top, #ffb727, #ff8f1d)
  background  -webkit-linear-gradient(top, #ffb727, #ff8f1d)
  background  -o-linear-gradient(top, #ffb727, #ff8f1d)
  background  -ms-linear-gradient(top, #ffb727, #ff8f1d)
  background  -moz-linear-gradient(top, #ffb727, #ff8f1d)  

.orange:active
  background  linear-gradient(top, #ff8f1d, #ffb727)
  background  -webkit-linear-gradient(top, #ff8f1d, #ffb727)
  background  -o-linear-gradient(top, #ff8f1d, #ffb727)
  background  -ms-linear-gradient(top, #ff8f1d, #ffb727)
  background  -moz-linear-gradient(top, #ff8f1d, #ffb727) 

.height15
  height 15px

.height50
  height 50px

.width50
  width 50px

.width100
  width 100px  

.width220
  width 220px

.width250
  width 250px

.width485
  width 485px

.width510
  width 510px

.width520
  width 520px

.mr15
  margin-right 15px

.mr50
  margin-right 50px

.mt15
  margin-top 15px

.mt20
  margin-top 20px

.mt50
  margin-top 50px

.inline-block
  display inline-block